<form #jugadorForm="ngForm" (ngSubmit)="saveJugador()">

  <div class="form-group">

      <label for="identificacion" >*identificacion</label>
      <input type="text" class="form-control" id= "identificacion" placeholder="ingrese identificacion" 
      [(ngModel)]="jugador.identificacion" name="identificacion" required minlength="7" #identificacion="ngModel">
      <div class="alert alert-danger" *ngIf="identificacion.invalid && (identificacion.dirty || identificacion.touched)">
          <div *ngIf="identificacion.errors.required">La identificacion es requerida</div>
          <div *ngIf="identificacion.errors.minlength">identificacion debe tener al menos 7 caracteres</div>
      </div>

      <label for="nombre" >*Nombre</label>
      <input type="text" class="form-control" id= "nombre" placeholder="ingrese nombre jugador" 
      [(ngModel)]="jugador.nombre" name="nombre" required minlength="3" #nombre="ngModel">
      <div class="alert alert-danger" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
          <div *ngIf="nombre.errors.required">Nombre del jugador es requerido</div>
          <div *ngIf="nombre.errors.minlength">Nombre debe tener al menos 3 caracteres</div>
      </div>

      <label for="apellido" >*Apellidos</label>
      <input type="text" class="form-control" id= "apellido" placeholder="ingrese apellidos del jugador" 
      [(ngModel)]="jugador.apellido" name="apellido" required minlength="3" #apellido="ngModel">
      <div class="alert alert-danger" *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)">
          <div *ngIf="apellido.errors.required">apellido del jugador es requerido</div>
          <div *ngIf="apellido.errors.minlength">apellido debe tener al menos 3 caracteres</div>
      </div>

      <div class="form-group">
          <label for="generoControlSelect">*Género</label>
          <select disabled class="form-control" required id="generoControlSelect">
              <option>{{ equipo.torneo.genero.nombre }}</option>
          </select>    
      </div>

      <div class="form-group">
          <label for="fechaNacimiento">*Fecha de nacimiento de jugadores</label>
          <input type="date" required [(ngModel)]="jugador.fechaNacimiento" class="form-control" id="fechaNacimiento"
          name="fechaNacimiento" required  #fechaNacimiento="ngModel">
          <div class="valid-feedback" *ngIf="fechaNacimiento.invalid && (fechaNacimiento.dirty || fechaNacimiento.touched)">
              <div *ngIf="fechaNacimiento.errors.required">La fecha de nacimiento es obligatoria</div>
          </div>
      </div>
  </div>


  <button type="submit" class="btn btn-success" [disabled]="!jugadorForm.form.valid">Registrar</button>
  <button type="button" class="btn btn-danger" (click)="modal.close('Close click')">Cancelar</button>
</form>

<p>
    identificacion: string;
    nombre: string;
    apellido: string;
    genero: Genero;
    fechaNacimiento: Date;
</p>