<div class="jumbotron text-center p-3 mb-2 bg-dark text-white ">
  <h1>PILAE - Programa tus eventos deportivos</h1>
  <p>Un sólo lugar para la gestión de tú liga</p> 
</div>

<app-deporte></app-deporte>
