<h2>Listado de competencias</h2>
<div class="card background">
  
    <div class="card-body square">
      <button type="button" (click)="openModalCrear(contentCrear)">Crear un torneo</button>
      
  
        <div class="alert alert-warning" role="alert" *ngIf="torneos.length == 0">
          no hay torneos disponibles en la plataforma
        </div>
  
        <div *ngIf="torneos.length > 0" class="table-responsive">
          <table class="table">
            <thead>

              <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Deporte</th>
                <th scope="col">Genero</th>
              </tr>

            </thead>
            <tbody>

              <tr *ngFor="let torneo of torneos" >
                <th scope="row">{{ torneo.codigo }}</th>
                <td><button [routerLink]="['/torneo', torneo.codigo, 'equipos']" >{{ torneo.nombre | uppercase }}</button></td>
                <td>{{ torneo.descripcion }}</td>
                <td>{{ torneo.deporte.nombre | uppercase }}</td>
                <td>{{ torneo.genero.nombre| uppercase }}</td>
              </tr>

            </tbody>
          </table>
        </div>
  
    </div>
  </div>

  <ng-template #contentEditar let-modal>
      <div class="modal-header">
        <h4 class="modal-title">Editar un torneo</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <app-torneo-editar></app-torneo-editar>
      </div>
  </ng-template>

  <ng-template #contentCrear let-modal>
      <div class="modal-header">
        <h4 class="modal-title">Crear un torneo</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <app-torneo-registro [modal] ="modal"></app-torneo-registro>
      </div>

</ng-template>