<nav class="navbar navbar-expand-lg navbar-light bg-light">
  
    <a class="navbar-brand" [routerLink]="['/torneos']">Pilae Leagues</a>
  
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" [routerLink]="['/torneos']">Torneos</a>
        <a class="nav-item nav-link active" [routerLink]="['/deportes']">Deportes</a>
        <a class="nav-item nav-link active">Nuestras ligas</a>
      </div>
    </div>
  
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Buscar en Pilae" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
    </form>
    
  </nav>