<mat-tab-group>
    <mat-tab label="Equipos">
      <div class="col">
  
        <button mat-button [matMenuTriggerFor]="menu">Inscribir equipo</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item class="btn btn-outline-primary mb-2 mr-2" (click)="openModalCrear(contentCrear)">Crear nuevo equipo</button>
          <button mat-menu-item>Importar equipos de tus competiciones</button>
          <button mat-menu-item>Importar datos desde Excel y Calc</button>
        </mat-menu>
      
        <button mat-button [matMenuTriggerFor]="menuOpciones">Opciones</button>
        <mat-menu #menuOpciones="matMenu">
          <button mat-menu-item>Exportar equipos a archivos PDF</button>
          <button mat-menu-item>Eliminar equipos seleccionados</button>
        </mat-menu>
      </div>
  
      <div class="alert alert-warning" role="alert" *ngIf="equipos.length == 0">
        Añade algunos equipos y jugadores
      </div>
      
        <div *ngIf="equipos.length > 0" class="table-responsive">
          <table class="table">
            <thead>
  
              <tr>
                <th scope="col">#</th>
                <th scope="col">jugadores</th>
                <th scope="col">Nombre</th>
              </tr>
  
            </thead>
  
            <tbody>
  
              <tr *ngFor="let equipo of equipos">
                <th scope="row"><mat-checkbox ></mat-checkbox></th>
                <td scope="row">{{ equipo.jugadores.length }}</td>
                <td><button type="button" (click)="selectEquipo(equipo.codigo)">{{ equipo.nombre | uppercase }}</button></td>
              </tr>
  
            </tbody>
  
          </table>
        </div>
      </mat-tab>
  
      <mat-tab label="Jugadores"> 
          <div class="alert alert-warning" role="alert" *ngIf="jugadores.length == 0">
            Ingrese equipos y jugadores al torneo
          </div>
    
          <div *ngIf="jugadores.length > 0" class="table-responsive">
            <table class="table">
              <thead>
    
                <tr>
                  <th scope="col">Identificación</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Apellido</th>
                  <th scope="col">Fecha nacimiento</th>
                </tr>
    
              </thead>
              <tbody>
    
                <tr *ngFor="let jugador of jugadores" >
                  <th scope="row">{{ jugador.identificacion }}</th>
                  <td>{{ jugador.nombre }}</td>
                  <td>{{ jugador.apellido }}</td>
                  <td>{{ jugador.fechaNacimiento | date: 'dd/MM/yyyy' }}</td>
                </tr>
    
              </tbody>
            </table>
          </div>
          
      </mat-tab>
    </mat-tab-group>

    <ng-template #contentCrear let-modal>
      <div class="modal-header">
        <h4 class="modal-title">Registar un equipo a {{torneoSeleccionado.nombre}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <app-equipo-registrar [modal]="modal" [codTorneo]="torneoSeleccionado.codigo"></app-equipo-registrar>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
      </div>
    </ng-template>