<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/torneo/{{equipo.torneo.codigo}}/equipos">Equipos</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ equipo.nombre }}</li>
  </ol>
</nav>

<h5>Ficha de equipo</h5>
<p>{{ equipo.nombre }} </p>

<button mat-button (click)="openModalCrear(contentCrear)">Insertar jugador</button>

<mat-tab-group>

  <mat-tab label="Deportistas">
    <div class="alert alert-warning" role="alert" *ngIf="jugadores.length == 0">
      Ingrese equipos y jugadores al torneo
    </div>

    <div *ngIf="jugadores.length > 0" class="table-responsive">
      <table class="table">
        <thead>

          <tr>
            <th scope="col">Identificación</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Fecha nacimiento</th>
          </tr>

        </thead>
        <tbody>

          <tr *ngFor="let jugador of jugadores" >
            <th scope="row">{{ jugador.identificacion }}</th>
            <td>{{ jugador.nombre }}</td>
            <td>{{ jugador.apellido }}</td>
            <td>{{ jugador.fechaNacimiento | date: 'dd/MM/yyyy' }}</td>
          </tr>

        </tbody>
      </table>
    </div>
  </mat-tab>

  <mat-tab label="Estadísticas">
      Content 2 
  </mat-tab>

  <mat-tab label="Sanciones">
    Content 3
  </mat-tab>
    
</mat-tab-group>


<ng-template #contentCrear let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Ingresar un jugador al {{equipo.nombre}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <app-jugador-registro [modal]="modal" [equipo]="equipo"></app-jugador-registro>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>
  </ng-template>