 <div class="form-group">
  <label for="torneoControlSelect">Torneo</label>
  <select [(ngModel)]="torneoSeleccionado" class="form-control" id="torneoControlSelect" 
   (change)="seleccionarOtroTorneo()">
      <option *ngFor="let torneo of torneos" [ngValue] = "torneo">
          {{ torneo.nombre }}
      </option>
  </select>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

  <div>
    <div class="navbar-nav">
      <a class="nav-item nav-link active" [routerLink]="[torneoSeleccionado.codigo, 'configuracion']">Configuración</a>
      <a class="nav-item nav-link active" [routerLink]="[torneoSeleccionado.codigo, 'equipos']">Equipos</a>
      <a class="nav-item nav-link active" >Clasificacion</a>
      <a class="nav-item nav-link active" >Calendario</a>
      <a class="nav-item nav-link active" >Estadísticas</a>
      <a class="nav-item nav-link active" >Sanciones</a>
      <a class="nav-item nav-link active">Nuestras ligas</a>
    </div>
  </div>
    
</nav>

<router-outlet></router-outlet>