<form #equipoForm="ngForm" (ngSubmit)="saveEquipo()">
  <div class="form-group">

      <label for="nombre" >*Nombre del Equipo</label>
      <input type="text" class="form-control" id= "nombre" placeholder="ej. Barcelona f.c" 
      [(ngModel)]="equipo.nombre" name="nombre" required minlength="3" #nombre="ngModel">
      <div class="alert alert-danger" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
          <div *ngIf="nombre.errors.required">Nombre del equipo es requerido</div>
          <div *ngIf="nombre.errors.minlength">Nombre debe tener al menos 3 caracteres</div>
      </div>

  </div>  

  <button type="submit" class="btn btn-success" [disabled]="!equipoForm.form.valid">Registrar</button>
  <button type="button" class="btn btn-danger" (click)="modal.close('Close click')">Cancelar</button>

</form>