<h2>Estado de la Configuración</h2>
<h4>Aquí se debe poner el estado de la competición</h4>
<h5>Configurando, en curso, cancelado, finalizado, etc</h5>

<h2>Configuración de torneo</h2>
<app-torneo-editar></app-torneo-editar>
<h2>Eliminar el torneo</h2>
<button type="button" class="btn btn-outline-danger" (click)=openModalEliminar(contentEliminar)>Eliminar el torneo</button>

<ng-template #contentEliminar let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Eliminar Torneo</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <p>¿Está seguro que desea Eliminar esta competición?</p>
        <button (click)="eliminarTorneo()" (click)="modal.close('Close click')">Aceptar</button>
        <button (click)="modal.close('Close click')">Cancelar</button>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>
</ng-template>