<div class="container pt-4">
  
  <div class="alert alert-warning" role="alert" *ngIf="deportes.length == 0">
    no existe información relacionada
  </div> 
  <h2 class="text-primary mb-4" >Deportes Disponibles</h2> 
  <div class="row">
    <div class="col-md-4 mb-4" *ngFor="let deporte of deportes">
      <div class="card h-100">

        <div class="card-body">
          <h4 class="card-title" class="text-primary">{{ deporte.nombre | uppercase }}</h4>
        </div>
        <div class="card-footer">
            {{ deporte.descripcion }}
        </div>
      </div>
    </div>
  </div>

</div>
