
<div class="card background">
     
    <div class="card-body square">
        
    <form #torneoForm="ngForm" (ngSubmit)="editarTorneo()">

        <div class="form-row">

            <div class="form-group">
                <label for="nombre" >*Nombre del torneo</label>
                <input type="text" class="form-control" id= "nombre" placeholder="ej. Champions League" 
                [(ngModel)]="torneo.nombre" name="nombre" required minlength="3" #nombre="ngModel">
                <div class="alert alert-danger" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
                    <div *ngIf="nombre.errors.required">Nombre del torneo es requerido</div>
                    <div *ngIf="nombre.errors.minlength">Nombre debe tener al menos 3 caracteres</div>
                </div>
            </div>
            
            <div class="form-group">
                <label for="deporteControlSelect">*Deporte</label>
                <select [(ngModel)]="torneo.deporte" class="form-control" id="deporteControlSelect" 
                name="deporte">
                    <option disabled>Seleccione un deporte</option>
                    <option *ngFor="let deporte of deportes" [ngValue] = "deporte">
                        {{ deporte.nombre }}
                    </option>
                </select>
            </div>
        </div>

        <div class="form-row">
            <label for="generoControlSelect">*Género</label>
            
            <select [(ngModel)]="torneo.genero" class="form-control" #genero="ngModel"
             required name="genero" id="generoControlSelect" ngModel>
                <option disabled>Seleccione el genero</option>
                <option *ngFor="let genero of generos" [ngValue]="genero" >
                    {{ genero.nombre }}
                </option>
            </select>
            
            <label for="descripcion">Descripcion</label>
            <textarea  type="text" class="form-control" id="descripcion" placeholder="ej. torneo profesional para equipos del continente Europeo"
            [(ngModel)]="torneo.descripcion" name="descripcion" required minlength="3" #descripcion="ngModel"></textarea>
            <div class="alert alert-danger" *ngIf="descripcion.invalid && (descripcion.dirty || descripcion.touched)">
                <div *ngIf="descripcion.errors.required">Descripción es requerida</div>
                <div *ngIf="descripcion.errors.minlength">Descripcion debe tener al menos 3 caracteres</div>
            </div>
        </div>
            
        <div class="form-row">

            <div class="form-group">
                <label for="fechaInicio">*Fecha de inicio</label>
                <input type="date" required [(ngModel)]="torneo.fechaInicio" class="form-control" id="fechaInicio" placeholder="Ingrese fecha de inicio del torneo"
                name="fechaInicio" required  #fechaInicio="ngModel">
                <div class="alert alert-danger" *ngIf="fechaInicio.invalid && (fechaInicio.dirty || fechaInicio.touched)">
                    <div *ngIf="fechaInicio.errors.required">La fecha de incio es obligatoria</div>
                </div>
            </div>            

            <div class="form-group">
                <label for="limitefechaNacimiento">*Fecha de nacimiento de jugadores</label>
                <input type="date" required [(ngModel)]="torneo.limitefechaNacimiento" class="form-control" id="limitefechaNacimiento"
                name="limitefechaNacimiento" required  #limitefechaNacimiento="ngModel">
                <div class="valid-feedback" *ngIf="limitefechaNacimiento.invalid && (limitefechaNacimiento.dirty || limitefechaNacimiento.touched)">
                    <div *ngIf="limitefechaNacimiento.errors.required">La fecha de nacimiento es obligatoria</div>
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group row">
            <label for="maxima-minima-jugadores h" class="col-6 col-form-label">Cantidad máxima y mínima de jugadores por equipo</label>
            <div class="col-4">
                
                <input [(ngModel)]="torneo.cantMinJugadoresPorEquipo" min="0" max="30" class="form-control col-7" type="number" required id="maxima-minima-jugadores" placeholder="mínima"
                required name="cantMinJugadoresPorEquipo" #cantMinJugadoresPorEquipo="ngModel">

                <div class="valid-feedback" *ngIf="cantMinJugadoresPorEquipo.invalid && (cantMinJugadoresPorEquipo.dirty || cantMinJugadoresPorEquipo.touched)">
                    <div *ngIf="cantMinJugadoresPorEquipo.errors.required">La fecha de nacimiento es obligatoria</div>
                </div>

                <input [(ngModel)]="torneo.cantMaxJugadoresPorEquipo" min="{{torneo.cantMinJugadoresPorEquipo}}" max="30" required class="form-control col-7" type="number" id="maxima-minima-jugadores" placeholder="máxima"
                required name="cantMaxJugadoresPorEquipo" #cantMaxJugadoresPorEquipo="ngModel">

                <div class="valid-feedback" *ngIf="cantMaxJugadoresPorEquipo.invalid && (cantMaxJugadoresPorEquipo.dirty || cantMaxJugadoresPorEquipo.touched)">
                    <div *ngIf="cantMaxJugadoresPorEquipo.errors.required">La fecha de nacimiento es obligatoria</div>
                </div>
                
            </div>
        </div>
        
        </div>
        <button type="submit" class="btn btn-success" [disabled]="!torneoForm.form.valid">Editar</button>
        <button type="button" class="btn btn-danger">Cancelar</button>

        </form>

    </div>
</div>
